:root {
    --color-accent: #266cf5;
    --color-text: #173878;
  }
  
  html {
    box-sizing: border-box;
  }
  
  html * {
    box-sizing: inherit;
  }
  
  body {
    letter-spacing: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -moz-font-feature-settings: "liga" on;
    text-rendering: optimizelegibility;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    margin: 0;
    font: 400 14px / 1.4 Inter, sans-serif;
    display: flex;
  }
  
  input {
    font-family: Inter, sans-serif;
  }
  
  a {
    color: var(--color-accent);
    font-weight: 500;
  }
  
  .app {
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    display: flex;
  }
  
  .app-header {
    justify-content: center;
    padding: 8px 0;
    display: flex;
  }
  
  .three-body {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 5px;
  }
  
  .app-section {
    background-color: #aaa;
    border-radius: 10px;
    width: 100%;
    height: 500px;
  }
  
  /* General App Styling */
  .app {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    padding: 20px;
  }
  
  .app-header {
    font-size: 24px;
    text-align: center;
    margin-bottom: 30px;
  }
  
  .app-section {
    background-color: #ffffff;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 15px; /* Space between sections */
  }
  
  .app-body {
    display: flex;
    flex-direction: column; /* Stack the sections vertically */
  }
  
  /* Time Section Styling */
  .time-display,
  .time-value,
  .local-time,
  .hours-ahead {
    margin: 5px 0; /* Spacing between time section elements */
  }
  
  /* Date Section Styling */
  .patro-display,
  .patro-value,
  .patro-picker,
  .patro-date {
    margin: 5px 0; /* Spacing between date section elements */
  }
  
  /* Currency Section Styling */
  .currency-rates,
  .usd-rate,
  .aud-rate,
  .currency-input,
  .currency-value {
    margin: 5px 0; /* Spacing between currency section elements */
  }
  
  /* Inputs and Labels */
  input[type="text"],
  select {
    width: 100%; /* Full width */
    padding: 10px;
    margin: 5px 0 20px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; /* Box sizing */
  }
  
  /* Section Titles */
  .section-title {
    font-weight: bold;
    margin-bottom: 10px;
  }
  